$color-initial: #fff !default;
$color-primary: #007e65 !default;
$color-secondary: #1abc9c !default;
$color-tertiary: #66d8c1 !default;
$color-quaternary: #7F8785 !default;
$color-quinary: #7F8785 !default;
